@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  font-family: Bebas Neue;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  background-color: #202020;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body {
  margin: 0;
  background: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-pic {
  width: 118px;
  height: 116px;
  margin-left: 10px;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grey-title-text {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #C4C4C4;
  margin: 0;
}

.white-title-text {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0;
}

.about-us-title {
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  color: #000000;
}

.about-us-text {
  width: 1305px;
  height: 1010px;
  background: #D2D2D2;
  border-radius: 50px;
  margin-top: 57px;
}