body {
background-color: #000000

}


header {
font-family: 'Bebas Neue', cursive;
margin: 17px auto;
max-width: 96%;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-ms-align-items: center;
align-items: center;
}

.background-pic {
margin-left: 890px;
margin-right: 30px;
margin-top: 140px;
margin-bottom: 61px;
}