@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
font-family: 'Bebas Neue', cursive;

}

body {
background-image: url('img/background.png');
background-repeat: no-repeat;
background-size: 100% auto;


}

.lang-toggle-container{
  min-height: 83px;
  position: relative;

}

/* .switch-wrapper{
  position: absolute;
  display: inline-block;
  top: 28px;
  right: 73px;
}


.switch-label-text{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #C4C4C4;
  width: 51px;
  height: 43px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 102px;
  height: 45px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 29px;
  left: 3px;
  bottom: 3px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}

.slider.round {
  border-radius: 34px;
  border: 5px solid #C4C4C4;
  background-color: #000000;
}

.slider.round:before {
  border-radius: 50%;
} */

.first-page-header {
  position: relative;

}

.header-text-block{
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  font-style: normal;
  font-size: 120px;
  line-height: 120px;

}

.header-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #C4C4C4;

}


main{
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}

section{
  background-color: #C4C4C4;
  width: 420px;
  height: 536px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 50px;
  position: relative;
}

.about-us-section-image{
  margin-top: 16px;
}

.grow {
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

.grow:hover {
 -webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -o-transform: scale(1.2);
 }

 .map-image-section-container{
   min-height: 171.4px;
   display: flex;
   justify-content: center;
 }

 .donate-image-section-container{
   min-height: 171.4px;
   display: flex;
   justify-content: center;
 }
 .about-us-image-section-container{
   min-height: 171.4px;
   display: flex;
   justify-content: center;
 }

 h2{
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 0px;

  color: #000000;
 }

.section-text-block{
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;

  color: #202020;

}

 .rectangle {
    display: block;
    width: 254px;
    height: 56px;
    border-radius: 50px;
    background: #FF651F;
    position: absolute;
    left: 83px;
    top: 450px;


}

.rectangle:hover{

  background: #FF651F;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
}

.rectangle:active{
  background: #FF651F;
  box-shadow: inset 20px 20px 4px rgba(0, 0, 0, 0.25);
}



.section-button-arrow-short{
margin-top: 14px;
margin-left: 97px;
margin-right: 103px;
margin-bottom: 18px;

}
